---
---

@import "minima";

.page-container {
    display: flex;
    max-width: 1000px;
    margin: auto;
    padding-top: 30px;
}

.content {
    flex: 3;
    padding-right: 40px;
}

.sidebar {
    flex: 1;
    text-align: right;
}

.sidebar a {
    display: block;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 10px;
}

.active {
    font-weight: 800;
}