<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
</head>

<body>

  <div class="page-container">

    <main class="content">
      {{ content }}
    </main>

	<nav class="site-nav">
	  <div class="dropdown">
		<button class="dropbtn">Menu ▼</button>
		<div class="dropdown-content">
		  <a href="/">Home</a>
		  <a href="/members">Members</a>
		  <a href="/resources">Resources</a>
		</div>
	  </div>
	</nav>

  </div>

</body>
</html>